body {
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

h1,h2,h3,p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    display: block;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}

.container {
    width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
}

.header {
    height: 80px;
}

.logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
        color: #111;
        text-transform: uppercase;

        display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 4px;
            width: 213px;

            margin-right: auto;
            padding: 28px 0;
}

.logo-part {
    font-style: italic;
}

.nav-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 24px;
        width: 320px;
}

.nav-link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
        transition: color 200ms ease-in-out;
}

.nav-link:hover, 
.nav-link:focus {
    color: #fd9222;
}

.socials {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 14px;
}

.socials-link {
    display: flex;
        align-items: center;
        justify-content: center;
    
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 40px;
        height: 40px;
        transition: border 200ms ease-in-out, fill 200ms ease-in-out;
}

.socials-link:hover,
.socials-link:focus  {
border: 1px solid rgba(253, 146, 34, 0.1);
}


.nav-wrapper {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 90px;
        width: 558px;
}

.header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials-link:hover,
.socials-link:focus .socials-icon {
    fill: #fd9222;
}

.hero {
    padding: 381px 40px 40px;
    background-color: #1e1823;
        border-radius: 30px;
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1136px;
        margin: 0 auto;
}

.hero-title {
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21429;
        letter-spacing: -0.03em;
        color: #fff;
        width: 484px;
        margin-bottom: 32px;
}

.hero-wrapper {
    display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 1056px;
}

.hero-buy-button {
    border: none;
    border-radius: 100px;
        padding: 14px 40px;
        min-width: 144px;
        min-height: 45px;
        background-color: #fd9222;
        font-weight: 600;
            font-size: 14px;
            color: #fff;
            margin-right: 14px;
            transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.hero-buy-button:hover, 
.hero-buy-button:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-link {
border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    min-width: 183px;
    height: 45px;
    font-weight: 600;
        font-size: 14px;
        color: #fff;
        margin-right: auto;
        transition: border 200ms ease-in-out, color 200ms ease-in-out;
}

.hero-link:hover, 
.hero-link:focus {
    border: 1px solid #fd9222;
    color: #fd9222;
}

.hero-scroll-link {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 14px;
        width: 130px;

        font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.03em;
            color: #fff;

            transition: color 250ms ease-in-out;
}

.hero-scroll-link:hover {
    color: #fd9222;
}

.hero-scroll-link:hover .hero-icon {
    transform: rotate(0);
    fill: #fff;
}

.hero-scroll-link:hover .icon-wrapper {
    background-color: #fd9222;
}

.icon-wrapper {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms ease-in-out;
}

.hero-icon {
fill: #fd9222; 
transform: rotate(-90deg);
transition: transform 250ms ease-in-out, fill 250ms ease-in-out;
}

.benefits {
    background-color: #1e1823;
    margin: 80px auto 0px;
    padding: 50px 0px;
}

.benefits-container {
    width: calc(1168px - 17px - 19px);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 88px;
}

.benefits-icon-wrap {
    display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 365px;
            width: 62px;
            height: 62px;
            margin-bottom: 22px;
}

.benefits-icon {
    fill: #fd9222;
}

.benefits-list-item {
    padding-bottom: 18px;
    width: calc((100% - 88px * 2) / 3);
    position: relative;
}

.benefits-list-item:not(:last-child):after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
        height: 124px;
        width: 0px;
        display: block;
        position: absolute;
        right: -44px;
        top: 63px;
}

.benefits-item-title {
    font-weight: 600;
        font-size: 18px;
        color: #fff;
        margin-bottom: 18px;
}

.benefits-item-text {
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

.ingredients {
    padding: 120px 0px;
}

.ingredients-title {
    font-weight: 600;
        line-height: 1.16667;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        max-width: 412px;
        margin: 0 auto 50px;
}

.title-span {
    color: #fd9222;
}

.ingredients-list {
    display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 32px;
        row-gap: 24px;
}

.ingredients-item {
    width: calc((100% - 32px * 3) / 4);
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #fd9222;
    padding: 28px 23px;
}

.ingredients-item:nth-child(1) {
    background-color: #fd9222;
    border: none;
}

.ingredients-item:nth-child(5) {
    background-color: #fd9222;
    border: none;
}

.ingredients-item:nth-child(3) {
    background-color: #1e1823;;
    border: none;
}

.ingredients-item:nth-child(7) {
    background-color: #1e1823;;
    border: none;
}

.ingredients-img {
margin-bottom: 36px;
}

.ingredients-item-text {
    font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #111;
}

.ingredients-item:nth-child(odd)>.ingredients-item-text {
    color: #fff;
}

.ingredients-item:nth-child(odd) {
    min-height: 271.65px;
}

.made {
    padding-bottom: 120px;
}

.made-title {
    font-weight: 600;
        line-height: 1.16667;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
        margin-bottom: 50px;
}

.made-wrapper {
    display: flex;
    gap: 20px;
}

.made-text {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        margin-bottom: 28px;
        max-width: 350px;
}

.made-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        padding-left: 16px;
}

.made-item {
    display: flex;
    align-items: baseline;
    gap: 8px;
    position: relative;
}

.made-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: -16px;
    width: 8px;
    height: 8px;
    background: #4C4C4C;
    border: 1px solid #ECEDED;
    border-radius: 50%;
}

.made-item-text {
        font-size: 14px;
        letter-spacing: -0.02em;
        left: 16px;
}


.made-list-wrapper {
    padding: 32px;
    background-color: #fff;
}

.made-icon {
    border-radius: 100%;
        fill: #4c4c4c;
        stroke-width: 1px;
        stroke: #eceded;
}